<h2> New contract </h2>
<br>
<p> Tell us more about the victim and consider the job done </p>

 <%= simple_form_for @contract do |f| %>
        <%#= f.input :victim_name, label: "your victim name:" %>
        <%#= f.input :victim_age, label: "your victim age:" %>
        <%#= f.input :photo, as: :file %>
        <%#= f.input :victim_location, label: "where to find him/her:" %>
        <%#= f.input :description, label: "Precise victim bio and context:" %>
        <%#= f.association :scenario, label: "Choose Kill scenario:" %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
<br>
<%= link_to "Back to your contracts", contracts_path %>
