<div class="banner">
  <div class="container">
    <h1 id="title"> Welcome to Hit me Up</h1>
    <a class="btn btn-light" id="defaultBtn" href="http://localhost:3000/users/sign_up"> Find your hitman</a>
  </div>
</div>

<div class="container">
  <div class="content ">
    <h1 class="fs-1 fw-bold">Who we are</h1>
    <h3 class="fs-3 fw-normal pb-2">We aspire to be the most DEADLIEST company in the world </h3>
    <p class="fst-normal px-5 pb-3 fs-5 lh-lg">
     Founded by 3 man whom is passionate about killing, creating victims from around the world.
     Hit me up is a website that allows users from anywhere and anytime to connect to popular and the best hitmans
     in the world. With added features of being able to rent their services and a review concept to make a once in a lifetime user experience.
    </p>

    <h3 class="fs-1 fw-bold">
      Our founders
    </h3>

    <p  class="fst-normal px-5 pb-5 fs-5 lh-lg">
      Pierre <br> Semih <br> Nicho
    </p>

    <p  class="fst-normal px-5 pb-2 fs-5 lh-lg">
    <strong> This website was created at Le Wagon Bali, the number 1 coding bootcamp in the world.<strong>
    </p>
  </div>
</div>

<div class="value-banner">
  <h1 id="value-text"> Our Values </h1>
</div>
