<div class="banner">
  <div class="container">
    <h1 id="title"> Welcome to Hit me Up</h1>
    <a class="btn btn-light " id="defaultBtn" href="http://localhost:3000/users/sign_up"> Find your hitman</a>
  </div>
</div>

<div class="container">
  <div class="content">
    <h1 class="fs-1 fw-bold">Who we are</h1>
    <h3 class="fs-3 fw-normal pb-2">We aspire to be the most DEADLIEST company in the world </h3>
    <p class="fst-normal px-5 pb-3 fs-5 lh-lg">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ad iste,
      reprehenderit ipsa corporis at facilis nesciunt repellendus blanditiis deleniti
      deserunt cupiditate velit reiciendis doloremque, accusamus minus minima ratione incidunt!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque laboriosam nobis esse eius qui magnam suscipit,
      sapiente explicabo, tenetur blanditiis ad nostrum at sed atque minus ratione deleniti expedita.
    </p>
    <p  class="fst-normal px-5 pb-3 fs-5 lh-lg">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ad iste,
    reprehenderit ipsa corporis at facilis nesciunt repellendus blanditiis deleniti
    deserunt cupiditate velit reiciendis doloremque, accusamus minus minima ratione incidunt!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque laboriosam nobis esse eius qui magnam suscipit,
    sapiente explicabo, tenetur blanditiis ad nostrum at sed atque minus ratione deleniti expedita.
    </p>
  </div>
</div>

<div class="value-banner">
  <h1 id="value-text"> Our Values </h1>
</div>
