// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Custom CSS

//for home page

// .avatar-bordered {
//   width: 40px;
//   border-radius: 60%;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: red 1px solid;
// }

.bg-image{
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), asset-url("bg-image.jpg");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 106px);
}

.hmu{
  color: white;
  text-decoration: none;
  text-align: right;
  margin-left: auto;
  padding-right: 40px;
  text-align: center;
  font-size: 28px;
  color: red;
  text-decoration:line-through;
  box-shadow: inset 0 0 0 0 #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.hmu:hover{
  box-shadow: inset 100px 0 0 0 red;
  color: white;
}

.nav-link_1{
  color: white;
  text-decoration: none;
  text-align: right;
  padding-right: 40px;
  text-align: center;
  box-shadow: inset 0 0 0 0 white;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  padding-right: 30px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-link_1:hover{
  box-shadow: inset 100px 0 0 0 white;
  color: red;
  text-decoration:line-through;
}

#log-out-home:hover,
#log-in-home:hover {
  color: red;
  text-decoration:line-through;
}

.banner {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20231104/pngtree-sinister-monochrome-murder-texture-image_13747174.png);
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#title{
  font-size: 80px;
  font-weight: 600;
  color: red;
  text-shadow: 14px -7px 20px black;
}

#defaultBtn{
  color: black;
  border-radius: 7px;
  height: 40px;
  font-weight: 500;
}
#defaultBtn:hover{
  background-color: red;
  border: 1px solid red ;
}

.content{
  align-items: center;
  text-align: center;
  padding-left:150px ;
  padding-top: 70px ;
  padding-bottom:100px ;
  padding-right: 150px;
  margin: 50px;
}

.content h1{
  padding-bottom: 10px;
}

.content h3{
  margin-bottom: 30px;
}

.value-banner{
  background-image: url(https://cdn4.vectorstock.com/i/1000x1000/63/73/blood-banner-vector-86373.jpg);
  height: 300px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#value-text{
  font-size: 64px;
  color: white  ;
  padding-top: 100px;
}

//for signup page

#signup {
  background-image: asset-url("hitman.jpeg");
  height: calc(100vh - 106px);
  background-position: center;
}

.devise-login {
  font-size:medium;
  color: black;
  justify-content: center;
}

// for contract page
// for hitman cards in new contract
.hitman-pic{
  width: 150px;
  object-fit: cover;
}

.hitman-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 38px;
  margin-bottom: 40px;
}

.card-product-big {
  height: 300px;
  transition: 0.3s ease-in-out;
}

.card-product-big img {
  width: 180px;
}

.middle-card{
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
}

//cards

.border-card{
  box-shadow: rgba(255, 0, 0, 0.356)0px 30px 60px -12px, rgba(255, 0, 0, 0.432) 0px 18px 36px -18px;
  scale: 1.05;
}
