// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Custom CSS

// .avatar-bordered {
//   width: 40px;
//   border-radius: 60%;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: red 1px solid;
// }

.text-box{
  display: flex;
  padding-top: 10px;
}

.nav-link_1{
  color: white;
  text-decoration: none;
  text-align: right;
  margin-left: auto;
  padding-right: 40px;
  text-align: center;
  padding-top: 10px;
}

.banner {
  // background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20220910/pngtree-set-8-bloody-handprint-on-brick-wall-dark-death-murder-photo-image_22781094.jpg);
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20231104/pngtree-sinister-monochrome-murder-texture-image_13747174.png);
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#title{
  color: white;
  font-size: 80px;
  font-weight: 200;
}

.banner h1 {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#defaultBtn{
  color: black;
  border-radius: 7px;
  height: 40px;
}
#default  Btn:hover{
  background-color: red;
  border: 1px solid red ;
}

.content{
  align-items: center;
  text-align: center;
  padding-left:150px ;
  padding-top: 70px ;
  padding-bottom:100px ;
  padding-right: 150px;
  margin: 50px;
}

.content h1{
  padding-bottom: 10px;
}

.content h3{
  margin-bottom: 30px;
}

.value-banner{
  background-image: url(https://cdn4.vectorstock.com/i/1000x1000/63/73/blood-banner-vector-86373.jpg);
  height: 300px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#value-text{
  font-size: 64px;
  color: white  ;
  padding-top: 100px;
}
